/* --------------------
	CommunityAboutGroup 
-------------------- */
.CommunityAboutGroup {
	.errorText {
		padding: 15px 30px;
		margin-bottom: 20px;
		border: 1px solid #ebccd1;
		background-color: #f2dede;
		color: #a94442;
	}
}