/* ---------------------
	CommunityTagSelector
--------------------- */
.CommunityTagSelector {
	.typeahead {
		border-radius: 4px;
		margin-top: 2px;
	}
	.dropdown-menu {
		background-clip: padding-box;
		background-color: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		display: none;
		float: left;
		left: 0;
		list-style: outside none none;
		margin: 2px 0 0;
		min-width: 160px;
		padding: 5px 0;
		position: absolute;
		top: 100%;
		z-index: 1000;
	}
	.dropdown-menu a {
		clear: both;
		color: #333333;
		display: block;
		font-weight: normal;
		line-height: 20px;
		padding: 3px 20px;
		white-space: nowrap;
	}
	.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
		background-color: #0081c2;
		background-image: linear-gradient(to bottom, #0088cc, #0077b3);
		background-repeat: repeat-x;
		color: #ffffff;
		text-decoration: none;
	}
	.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
		background-color: #0081c2;
		background-image: -moz-linear-gradient(center top , #0088cc, #0077b3);
		background-repeat: repeat-x;
		color: #ffffff;
		outline: 0 none;
		text-decoration: none;
	}
	.dropdown-menu .disabled > a, .dropdown-menu .disabled > a:hover {
		color: #999999;
	}
	.dropdown-menu .disabled > a:hover {
		background-color: transparent;
		cursor: default;
		text-decoration: none;
	}
	.div-like-input {
		cursor: text;
		padding: 5px 5px 5px;
		background-color: white;
		border: 1px solid #cccccc;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
		box-sizing: border-box;
		color: rgba(0, 0, 0, 0.75);
		transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
		border-radius: 3px;
		margin-bottom: 5px;
		min-height: 39px;
	}
	.tags-container .item {
		text-decoration: none;
		white-space: nowrap;
		border: 1px solid #d4dadc;
		padding: 2px 5px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		background: #eff7fa;
		color: #015ba7;
		margin-right: 3px;
		margin-bottom: 3px;
		float: left;
		line-height: normal;
	}
	.tags-container {
		line-height: 22px;
	}
	.div-like-input input.input-inviz {
		margin-bottom: 0px;
		display: block;
		width: 200px;
		padding: 2px 5px;
		font-size: 12px;
		height: 24px;
		border: none;
		box-shadow: none;
	}
	.input-inviz:focus {
		background: inherit;
	}
	.tags-container a.remove img {
		background: transparent url(/img/chatter/message_item_x.png) no-repeat scroll left top;
		width: 8px;
		height: 8px;
		margin-bottom: 4px;
	}
	.tags-container a.remove:hover img {
		background-position: 0 50%;
	}
	.tags-container a {
		margin-left: 5px;
	}
	.panel-success .panel-heading:hover a {
		text-decoration:none;
		color:black;
		background-color:#f8f8f8;
	}
	.panel-heading .fa {
		width:10px;
	}
	.div-like-input input.input-inviz {
		float: left;
		display: inline-block;
	}
	.panel-heading span {
		cursor:pointer;
	}
	.panel-link .panel-heading {
		color:#72c02c;
		padding:0 15px;
	}
	.panel-link .panel-heading span:hover {
		text-decoration:underline;
	}
	// Fix for focus headings link
	.panel.panel-default {
		.panel-heading {
			.panel-title {
				a {
					&:focus {
						color: #000;
					}
				}
			}
		}
		.panel-body {
			.list-unstyled.blog-tags {
				li {
					a {
						&:focus {
							color: #555;
						}
					}
				}
			}
		}
	}
}