/* --------------
	CommunityMenu
-------------- */
.CommunityMenu {
	ul li, ol li {
		margin-left:0;
	}
	.without-menu {
		height: 95px !important;
	}
	.logopos {
		position: absolute;
		bottom: 10px;
	}
	.list-inline.top-v1-data {
		a {
			color: #555;
			&:hover {
				color: #72c02c;
			}
		}
	}
	.navbar-default .navbar-nav > li {
		> a {
			&:focus {
				color: #687074;
			}
			&:hover {
				color: #72c02c;
			}
		}
	}
	// Logotype Fix
	&.header-v1.header-fixed-shrink .navbar-brand img {
		width: auto;
	}
	.topbar-v1 {
		border-top: none;
	}
	// Mobile & Tablet View menu fix
	@media (max-width: 991px) {
		.topbar-v1 .top-v1-contacts {
			margin: 0;
			text-align: left !important;
		}
		.topbar-v1 ul {
			text-align: right !important;
		}
		.topbar-v1 .top-v1-data li {
			top: 0;
			border-bottom: 0;
		}
		.topbar-v1 .top-v1-data li:last-child {
			border-right: solid 1px #eee;
			margin-left: -5px;
		}
	}
	// Logo
	#imgLOGOID {
		max-height: 40px;
		max-width: 300px;
	}
}
