/* ------------------------
	CommunityFeedNavigation
------------------------ */
.CommunityFeedNavigation {
	.menu-item-link {
		a {
			&:hover {
				color: #72c02c;
				text-decoration: underline;
			}
			&:focus {
				color: #555;
			}
		}
	}
	ul li,
	ol li {
		margin-left: 0;
	}
}
