// Follow Dropdown Menu
.dropdown__container {
	position: relative;
	.dropdown__button {
		display: block;
		width: 35px;
		height: 34px;
		overflow: hidden;
		background: #72c02c;
		&:hover {
			background: #5fb611;
			cursor: pointer;
		}
		.dropdown__icon {
			display: block;
			border-width: 4px 4px 0;
			border-color: #fff transparent transparent;
			border-style: solid;
			width: 0;
			height: 0;
			margin-left: 13px;
			margin-top: 15px;
		}
		.fa {
			color: #fff;
			margin-left: 11px;
			margin-top: 10px;
			font-size: 14px;
		}
	}
	.dropdown__options {
		display: none;
		position: absolute;
		width: 200px;
		top: 135%;
		right: 0;
		z-index: 99;
		font-size: 13px;
		background: #fff;
		border: 1px solid #eee;
		color: #555;
		.dropdown__option {
			padding: 7px 20px;
			&:hover {
				background: #f1f1f1;
				cursor: pointer;
			}
			a {
				display: block;
				color: #555;
				&:hover {
					color: #555;
					text-decoration: none;
				}
			}
		}
	}
}