.headline h2, 
.headline h3, 
.headline h4 {
	border-bottom-color: $color;
}
.title-v1 h1:after, 
.title-v1 h2:after {
	background: $color; 
}
.headline-center h2:after {
	background: $color;
}
.headline-left .headline-brd:after {
	background: $color;
}
.tab-v1 .nav-tabs {
	border-bottom-color: $color;
}
.tab-v1 .nav-tabs > .active > a, 
.tab-v1 .nav-tabs > .active > a:hover, 
.tab-v1 .nav-tabs > .active > a:focus {
	background: $color;
}
.tab-v1 .nav-tabs > li > a:hover {
	background: $color;
}
.tab-v2 .nav-tabs li.active a {
	border-top-color: $color;
}
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
	background: $color;
	border-color: $color;
}
.pagination li a:hover {
	background: $hover;
	border-color: $hover;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	border-color: $color;
	background: $color;
}
.pager li > a:hover, 
.pager li > a:focus {
	background: $hover;
	border-color: $hover;
	color: #fff;
}
.sidebar-nav-v1 ul li:hover a,
.sidebar-nav-v1 ul li.active a {
	color: $color;
}
.btn-u {
	background: $color;
	color: #fff;
}
.btn-u:hover, 
.btn-u:focus, 
.btn-u:active, 
.btn-u.active, 
.open .dropdown-toggle.btn-u {
	background: $hover;
}
.btn-u-split.dropdown-toggle {
	border-left-color: $hover
}
.btn-u.btn-brd {
	border-color: $color;
}
.btn-u.btn-brd:hover {
	color: $hover;
	border-color: $hover;
}
.btn-u.btn-brd.btn-brd-hover:hover {
	background: $hover;
}
span.label-u,
span.badge-u {
	background: $color;
}
.badge-box-v1 a:hover,
.badge-box-v2 a:hover {
	color: $hover;
	border-color: $hover;
}
.link-icon:hover i {
	color: $color;
	border-color: $color;
}
.link-bg-icon:hover i {
	color: $color;
	background: $color;
	border-color: $color;
}
i.icon-color-u {
	color: $color;
	border-color: $color;
}
i.icon-bg-u {
   background: $color;
}
.content-boxes-v4 i {
	color: $color;
}
.content-boxes-v5:hover i {
	background: $color;
}
.content-boxes-v6:hover i {
	background: $color;
}
.content-boxes-v6:hover i:after {
	border-color: $color;
}
.service-block-u {
	background: $color;
}
.funny-boxes p a {
	color: $color;
}
.funny-boxes .funny-boxes-img li i {
	color: $color;
}
// ?? 2214 & 2217
.funny-boxes-right-u {
	border-right-color: $color;
}
.funny-boxes-right-u:hover {
	border-right-color: $hover;
}
.dropcap {
	color: $color;
}
.dropcap-bg {
	background: $color;
}
blockquote:hover,
blockquote.text-right:hover {
	border-color: $color;
}
// ?? 2423
.tag-box-v1 {
	border-top-color: $color;
}
.tag-box-v2 {
	border-left-color: $color;
}
.tag-box-v7 {
	border-bottom-color: $color;
}
.testimonials .testimonial-info {
	color: $color;
}
.testimonials .carousel-arrow i:hover {
	background: $color;
}
.testimonials-bg-default .item p {
	background: $color;
}
.testimonials.testimonials-bg-default .item p:after,
.testimonials.testimonials-bg-default .item p:after {
	border-top-color: $color;
}
.testimonials-bg-default .carousel-arrow i {
	background: $color;
}
.testimonials.testimonials-bg-default .carousel-arrow i:hover {
	background: $hover;
}
.panel-u {
	border-color: $color;
}
.panel-u > .panel-heading {
	background: $color;
}
.progress-bar-u {
	background: $color;
}
.stars-existing {
	color: $color;
}