.magazine-news .by-author strong {
	color: $color;
}
.magazine-news a.read-more {
	color: $color;
}
.magazine-mini-news .post-author strong {
	color: $color;
}
.news-read-more i {
	background: $color;
}
.magazine-sb-categories ul i {
	color: $color;
}