.profile .profile-post:hover span.profile-post-numb {
	color: $color;
}
.profile .date-formats {
	background: $color;
}
.profile .comment-list li:hover i {
	color: $color;
}
.profile .img-post-list li a:hover i {
	color: $color;
}
.profile .name-location span i {
	color: $color;
}