.CommunityFeed {
	.preloader__container {
		.preloader__element {
			.preloader__icon {
				color: $color;
			}
		}
	}
	i.expand-list.active {
		color: $color;
		border-color: $color;
	}
	#palist a.curr i.expand-list {
		color: $color;
		border-color: $color;
	}
	#palist a.curr:after {
		color: $color;
	}
}