/* ------------
	Base Styles
------------ */
.margin-top-0 {
	margin-top: 0;
}
.margin-top-5 {
	margin-top: 5px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-20 {
	margin: 20px;
}
.padding-10 {
	padding: 10px;
}
.padding-left-right-15 {
	padding: 15px;
}
.padding-left-35 {
	padding-left: 35px;
}
.padding-right-25 {
	padding-right: 25px;
}
.padding-top-15 {
	padding-top: 15px;
}
.padding-top-10 {
	padding-top: 10px;
}
.hidden {
	display: none;
}
.text-align-right {
	text-align: right;
}
.width-15 {
	width: 15px;
}
.width-20 {
	width: 20px;
}
.width-50 {
	width: 50px;
}
.width-80 {
	width: 80px;
}
.width-90 {
	width: 90px;
}
.width-200 {
	width: 200px;
}
.full-width {
	width: 100%;
}
.height-0 {
	height: 0;
}
.text-align-left {
	text-align: left;
}
.text-decoration-none {
	text-decoration: none;
}
.font-weight-bold {
	font-weight: bold;
}
.cursor-pointer {
	cursor: pointer;
}
.opacity-65 {
	opacity: 0.65;
}
.opacity-75 {
	opacity: 0.75;
}
.vertical-align-top {
	vertical-align: top;
}
.display-inline-block {
	display: inline-block;
}
// Fix for bootstrap focus link
a:focus {
	color: #72c02c;
}
// Fix for black color of focus & hover buttons
.btn-u {
	color: #fff;
	&:hover,
	&:focus {
		color: #fff;
	}
	&.btn-u-accept,
	&.btn-u-manager,
	&.btn-u-owner,
	&.btn-u-member {
		background: #72c02c;
		&:hover,
		&:focus {
			background: #5fb611;
		}
	}
}