/* ------------------
	CommunityDiscover
------------------ */
.CommunityDiscover {
	.tooltip-inner {
		max-width: 500px;
		text-align: left;
	}
	.tooltip-inner li {
		color:white;
	}
	.tooltips.s-tip {
		background-color:#72c02c;
		color:white;
		padding:5px 10px;
		text-decoration:none;
	}
	h1 {
		span {
			color: #72c02c;
		}
	}
}