/*---------------
	CommunityNews
-------------- */
.CommunityNews {
	.thumbnail-style a.btn-more.sticky {
		background-color: #e74c3c;
	}
	.thumbnail-style a.btn-more.sticky:hover {
		text-decoration:none;
		box-shadow:0 0 0 2px #d04436;
	}
}