/* ---------------
	CommunityTopic
--------------- */
.CommunityTopic {
	.breadcrumb {
		top: 0;
		margin-bottom: 10px;
		padding-top: 0;
	}
	#followButton {
		display: none;
	}
	.profile-body {
		position: relative;
	}
	// Fix for Pager
	.pager li > a:focus {
		background-color: #fff;
		border: 1px solid #ddd;
		color: #555;
	}
	@import '../components/Preloader';
	@import '../components/MediaTable';
	@include error-message;
}