/* ----------------------
	Community Group Files
---------------------- */
#CommunityGroupFiles {
	#nvsbtn {
		opacity: 0.65;
	}
	#sbtnshfg {
		opacity:0.65;
	}
	.img-responsive {
		margin-left:auto;
		margin-right:auto;
	}
}