/* -------------------------
	CommunityGroupDetailPage
------------------------- */
.CommunityGroupDetailPage {
	.profile-edit {
		.headline {
			margin-bottom: 15px;
		}
		.blog-photos li img {
			width: 36px;
			height: 36px;
		}
	}
	.modal__pending__link {
		color:#e9b605;
	}
}
