/* -------------------------
	CommunityFeed_MyMessages
------------------------- */
.CommunityFeed_MyMessages {
	&.profile .panel-heading {
		background-color: #f7f7f7;
	}
	.media {
		&.conversation {
			&:hover {
				background: #e5f6d5;
			}
		}
		&.media-v2.conversation {
			.pull-left {
				position: relative;
			}
		}
	}
	&.profile .panel-heading {
		background-color: #f7f7f7;
	}
	.typeahead-choices {
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		height: auto !important;
		height: 1%;
		border: 1px solid #aaa;
		background-color: #fff;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
		background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
		background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
		background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
		background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
		cursor: text;
	}
	.typeahead-choices li.search-choice {
		position: relative;
		margin: 4px 2px 3px;
		padding: 2px 3px;
		border: 1px solid #aaa;
		max-width: 100%;
		border-radius: 3px;
		background-color: #eeeeee;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
		background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
		background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
		background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
		background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
		background-size: 100% 19px;
		background-repeat: repeat-x;
		background-clip: padding-box;
		box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
		color: #333;
		cursor: default;
		float: left;
	}
	.typeahead-choices li.search-field {
		float: left;
	}
	.typeahead-choices li {
		list-style: none;
	}
	.typeahead-choices .notification:hover {
		background: #eee;
		cursor: pointer;
	}
	.tt-dropdown-menu {
		width: 410px;
		left: 69px;
		top: 43px;
		z-index: 200;
		height: auto;
	}
	.tt-dataset-suggestedRecipients {
		padding: 0 0;
		display: block;
		position: absolute;
		border: 1px solid #7d7d84;
		background: #fff;
		width: 27em;
		z-index: 90;
	}
	.tt-input {
		border: none;
	}
	.conversation { cursor: pointer;}
	.conversation.unread .indicator {
		position: absolute;
		right: 0;
		top: 0;
	}
	.conversation.unread p {
		font-weight: bold;
	}
}