// Components :::::::::::::::::::::

		// CommunityFeed
		.CommunityFeed {
			.profile i.expand-list.active {
				color: $color;
				border-color: $color;
			}
			#palist a.curr i.expand-list {
				color: $color;
				border-color: $color;
			}
			#palist a.curr:after {
				color: $color;
			}
		}

		//CommunityFeedNavigation
		.CommunityFeedNavigation {
			.menu-item-link {
				a {
					&:hover {
						color: $color;
					}
				}
			}
		}

		// CommunityResourceDialog
		.CommunityResourceDialog {
			.icon {
				&:hover {
					color: $color;
					border-color: $color;
				}
			}
		}

		// CommunityShare
		.CommunityShare {
			.addGroups {
				color: $color !important;
			}
		}

		// CommunityTagSelector
		.CommunityTagSelector {
			.panel-link .panel-heading {
				color: $color;
			}
		}

		// CommunityUserPhoto
		.CommunityUserPhoto {
			.user-photo {
				.user-photo-link {
					background: $hover;
				}
			}
		}