// Themes :: Name | Color | Hover

// Schemes

$themes: 
	("theme--Blue", #3498db, #2980b9),
	("theme--Orange", #e67e22, #d35400),
	("theme--Red", #e74c3c, #c0392b),
	("theme--Light", #95a5a6, #7f8c8d),
	("theme--Purple", #9b6bcc, #814fb5),
	("theme--Aqua", #27d7e7, #26bac8),
	("theme--Brown", #9c8061, #81674b),
	("theme--Dark-Blue", #4765a0, #324c80),
	("theme--Light-Green", #79d5b3, #59b795),
	("theme--Dark-Red", #b61332, #a10f2b),
	("theme--Teal", #2cd5b6, #18ba9b);


// Mixin

@mixin theme($name, $color, $hover) {
	html.#{$name} {

	a.btn-u {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}

	// Files ::::::::::::::::::::::

		// File: style.css
			// imports ::
			// File: app
				.headline h2, 
				.headline h3, 
				.headline h4 {
					border-bottom-color: $color;
				}
				.title-v1 h1:after, 
				.title-v1 h2:after {
					background: $color; 
				}
				.headline-center h2:after {
					background: $color;
				}
				.headline-left .headline-brd:after {
					background: $color;
				}
				.tab-v1 .nav-tabs {
					border-bottom-color: $color;
				}
				.tab-v1 .nav-tabs > .active > a, 
				.tab-v1 .nav-tabs > .active > a:hover, 
				.tab-v1 .nav-tabs > .active > a:focus {
					background: $color;
				}
				.tab-v1 .nav-tabs > li > a:hover {
					background: $color;
				}
				.tab-v2 .nav-tabs li.active a {
					border-top-color: $color;
				}
				.tab-v3 .nav-pills li a:hover,
				.tab-v3 .nav-pills li.active a {
					background: $color;
					border-color: $color;
				}
				.pagination li a:hover {
					background: $hover;
					border-color: $hover;
				}
				.pagination > .active > a, 
				.pagination > .active > span, 
				.pagination > .active > a:hover, 
				.pagination > .active > span:hover, 
				.pagination > .active > a:focus, 
				.pagination > .active > span:focus {
					border-color: $color;
					background: $color;
				}
				.pager li > a:hover, 
				.pager li > a:focus {
					background: $hover;
					border-color: $hover;
					color: #fff;
				}
				.sidebar-nav-v1 ul li:hover a,
				.sidebar-nav-v1 ul li.active a {
					color: $color;
				}
				.btn-u {
					background: $color;
					color: #fff;
				}
				.btn-u:hover, 
				.btn-u:focus, 
				.btn-u:active, 
				.btn-u.active, 
				.open .dropdown-toggle.btn-u {
					background: $hover;
				}
				.btn-u-split.dropdown-toggle {
					border-left-color: $hover
				}
				.btn-u.btn-brd {
					border-color: $color;
				}
				.btn-u.btn-brd:hover {
					color: $hover;
					border-color: $hover;
				}
				.btn-u.btn-brd.btn-brd-hover:hover {
					background: $hover;
				}
				span.label-u,
				span.badge-u {
					background: $color;
				}
				.badge-box-v1 a:hover,
				.badge-box-v2 a:hover {
					color: $hover;
					border-color: $hover;
				}
				.link-icon:hover i {
					color: $color;
					border-color: $color;
				}
				.link-bg-icon:hover i {
					color: $color;
					background: $color;
					border-color: $color;
				}
				i.icon-color-u {
					color: $color;
					border-color: $color;
				}
				i.icon-bg-u {
				   background: $color;
				}
				.content-boxes-v4 i {
					color: $color;
				}
				.content-boxes-v5:hover i {
					background: $color;
				}
				.content-boxes-v6:hover i {
					background: $color;
				}
				.content-boxes-v6:hover i:after {
					border-color: $color;
				}
				.service-block-u {
					background: $color;
				}
				.funny-boxes p a {
					color: $color;
				}
				.funny-boxes .funny-boxes-img li i {
					color: $color;
				}
				// ?? 2214 & 2217
				.funny-boxes-right-u {
					border-right-color: $color;
				}
				.funny-boxes-right-u:hover {
					border-right-color: $hover;
				}
				.dropcap {
					color: $color;
				}
				.dropcap-bg {
					background: $color;
				}
				blockquote:hover,
				blockquote.text-right:hover {
					border-color: $color;
				}
				// ?? 2423
				.tag-box-v1 {
					border-top-color: $color;
				}
				.tag-box-v2 {
					border-left-color: $color;
				}
				.tag-box-v7 {
					border-bottom-color: $color;
				}
				.testimonials .testimonial-info {
					color: $color;
				}
				.testimonials .carousel-arrow i:hover {
					background: $color;
				}
				.testimonials-bg-default .item p {
					background: $color;
				}
				.testimonials.testimonials-bg-default .item p:after,
				.testimonials.testimonials-bg-default .item p:after {
					border-top-color: $color;
				}
				.testimonials-bg-default .carousel-arrow i {
					background: $color;
				}
				.testimonials.testimonials-bg-default .carousel-arrow i:hover {
					background: $hover;
				}
				.panel-u {
					border-color: $color;
				}
				.panel-u > .panel-heading {
					background: $color;
				}
				.progress-bar-u {
					background: $color;
				}
				.stars-existing {
					color: $color;
				}
			// File: ie8.css
				.ie8 .sticker-left {
					background: $color;
				}
			// File: blocks.css
				.block-grid-v1:hover {
					border-color: $color;
				}
				.grid-block-v2 li:hover .grid-block-v2-info {
					border-color: $color;
				}
				.news-v1 h3 a:hover {
					color: $color;
				}
				.news-v1 .news-v1-info li a:hover {
					color: $color;
				}
				.service-box-v1 p:after {
					background: $color;
				}
				.service-box-v1 li {
					border-top-color: $color;
				}
				.service-box-v1 li:hover {
					color: $color;
				}
				.service-block-v1 i {
					background: $color;
				}
				.team-v1 li:hover > p:before {
					background: $color;
				}
				.portfolio-box .portfolio-box-in i {
					background: $color;
				}
				.portfolio-box small.project-tag a:hover {
					color: $color;
				}
				.portfolio-box-v2 .portfolio-box-v2-in i {
					background: rgba($color, .8);
				}
				.portfolio-box-v2 .portfolio-box-v2-in i:hover {
					background: $color;
				}
				.thumbnails-v1 .read-more {
					color: $color;
				}
			// File: plugins.css
				.counters span.counter-icon i {
					background: $color;
				}
				.counters span.counter-icon i:after {
					border-top-color: $color;
				}
				#topcontrol:hover {
					background: $color;
				}
				.owl-btn:hover {
					background: $color;
				}
				.owl-carousel-v5 .owl-controls .owl-page.active span,
				.owl-carousel-v5 .owl-controls.clickable .owl-page:hover span {
					background: $color;
				}
				.testimonials-v3 .owl-buttons .owl-prev:hover,
				.testimonials-v3 .owl-buttons .owl-next:hover {
					background: $color;
				}
				.owl-work-v1 .item a:hover span {
					border-bottom-color: $color;
				}
				.fusion-portfolio #filters-container .cbp-filter-item-active {
					background: $color;
					border-color: $color;
				}
				.fusion-portfolio #filters-container .cbp-filter-item:hover {
					color: $color;
				}

			// File: plugins/style-switcher.css
				.style-switcher li.theme-default {
					background: $color;
				}

			// File: headers/header-v1.css
				.header-v1 .topbar-v1 .top-v1-data li a:hover i {
					color: $color;
				}
				.header-v1 .navbar-default .navbar-toggle {
					border-color: $hover;
				}
				.header-v1 .navbar-toggle,
				.header-v1 .navbar-default .navbar-toggle:hover, 
				.header-v1 .navbar-default .navbar-toggle:focus {
					background: $color;
				}
				.header-v1 .navbar-toggle:hover {
					background: $hover !important;
				}
				@media (max-width: 991px) {
					.header-v1 .navbar-default .navbar-nav > li > a:hover {
						color: $color;
					}
					.header-v1 .navbar-default .navbar-nav > .active > a,
					.header-v1 .navbar-default .navbar-nav > .active > a:hover,
					.header-v1 .navbar-default .navbar-nav > .active > a:focus {
						background: $color;
					}
				}
				@media (min-width: 992px) {
					.header-v1 .navbar-default .navbar-nav > .active > a,
					.header-v1 .navbar-default .navbar-nav > li > a:hover,
					.header-v1 .navbar-default .navbar-nav > li > a:focus {
						color: $color;
					}
					.header-v1 .navbar-default .navbar-nav > li:hover > a {
						color: $color;
					}
					.header-v1 .dropdown-menu {
						border-top-color: $color;
					}
				}
				.header-v1 .navbar .nav > li > .search:hover {
					color: $color;
				}
			// File: footers/footer-v1.css
			// File: style
				a {
					color: $color;
				}
				a:hover {
					color: $color;
				}
				.recent-work a:hover span {
					border-bottom-color: $color;
				}
				.breadcrumb li.active,
				.breadcrumb li a:hover {
					color: $color;
				}
				.thumbnail h3 a:hover,
				.thumbnail-style h3 a:hover {
					color: $color;
				}
				.thumbnail-style a.btn-more {
					background: $color;
				}
				.thumbnail-style a.btn-more:hover {
					box-shadow: 0 0 0 2px $hover;
					color: #fff;
				}
				.service-alternative .service:hover {
					background: $color;
				}
				.posts .dl-horizontal dd a:hover {
					color: $color;
				}
				.posts .dl-horizontal:hover dt img,
				.posts .dl-horizontal:hover dd a {
					color: $color;
					border-color: $color !important;
				}
				.team ul.team-socail li i:hover {
					background: $color;
				}
				.team .thumbnail-style:hover h3 a {
					color: $color !important;
				}
				.privacy a:hover {
					color: $color;
				}
				ul.blog-tags a:hover {
					background: $color;
				}
				.blog-photos li img:hover {
					box-shadow: 0 0 0 2px $color;
				}
				.blog-twitter .blog-twitter-inner:hover {
					border-color: $color;
					border-top-color: $color;
				}
				.blog-twitter .blog-twitter-inner:hover:after {
					border-top-color: $color;
				}
				.blog-twitter .blog-twitter-inner a {
					color: $color;
				}
				.who li i {
					color: $color;
				}
				.promo-box:hover strong, 
				.promo-box:hover strong a {
					color: $color;
				}
				.info-blocks:hover i.icon-info-blocks {
					color: $color;
				}
				.line-icon-page .item:hover {
					color: $color;
				}
				.bs-glyphicons li:hover {
					color: $color;
				}
				.share-list li i {
					color: $color;
				}
				.testimonials-bs .carousel-control-v2 i:hover {
					color: $color;
					border-color: $color;
				}
				.profile .comment-list li:hover i {
					color: $color;
				}

		// File: plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css
			.sky-form .button {
				background: $color;
			}
			.sky-form .rating input:checked ~ label {
				color: $color; 
			}

		// File: blog_magazine
			.magazine-news .by-author strong {
				color: $color;
			}
			.magazine-news a.read-more {
				color: $color;
			}
			.magazine-mini-news .post-author strong {
				color: $color;
			}
			.news-read-more i {
				background: $color;
			}
			.magazine-sb-categories ul i {
				color: $color;
			}

		// File: profile
			.profile .profile-post:hover span.profile-post-numb {
				color: $color;
			}
			.profile .date-formats {
				background: $color;
			}
			.profile .comment-list li:hover i {
				color: $color;
			}
			.profile .img-post-list li a:hover i {
				color: $color;
			}

		// File: custom
			.file-actions i.fa:hover {
				color: $color;
			}
			.file-actions i.fa.active, .fa.fa-plus-circle.active {
				color: $color;
			}
			.addGroups {
				color: $color !important;
			}

	// Components :::::::::::::::::::::

		// CommunityFeed
			.CommunityFeed {
				.profile i.expand-list.active {
					color: $color;
					border-color: $color;
				}
				#palist a.curr i.expand-list {
					color: $color;
					border-color: $color;
				}
				#palist a.curr:after {
					color: $color;
				}
			}

		//CommunityFeedNavigation
			.CommunityFeedNavigation {
				.menu-item-link {
					a {
						&:hover {
							color: $color;
						}
					}
				}
				.list-group-item {
					&.active {
						a:hover {
							color: #fff;
						}
					}
				}
			}

		// CommunityResourceDialog
			.CommunityResourceDialog {
				.icon {
					&:hover {
						color: $color;
						border-color: $color;
					}
				}
			}

		// CommunityShare
			.CommunityShare {
				.addGroups {
					color: $color !important;
				}
			}

		// CommunityTagSelector
			.CommunityTagSelector {
				.panel-link .panel-heading {
					color: $color;
				}
			}

		// CommunityUserPhoto
			.CommunityUserPhoto {
				.user-photo {
					.user-photo-link {
						background: $hover;
					}
				}
			}

	// Pages :::::::::::::::::::::::::

		// CommunityDiscover
			.CommunityDiscover {
				.tooltips.s-tip {
					background-color: $color;
				}
			}

		// CommunityEventDetail
		.CommunityEventDetail {
			.sky-form {
				a {
					color: $color;
				}
			}
		}

		// CommunityFeed_MyMessages
			.CommunityFeed_MyMessages {
				.media {
					&.conversation {
						&:hover {
							background: lighten($color, 25%);
						}
					}
				}
			}

		// CommunityGroupCreate
			.CommunityGroupCreate {
				.row .bPageBlock {
					border-top-color: $color;
				}
				.row.u-page-block {
					border-top-color: $color;
				}
				.nameok {
					color: $color;
				}
			}

		// CommunityGroupManager
			.CommunityGroupManager {
				.fa.fa-map-marker {
					color: $color;
				}
			}
		// CommunityGroups
			.CommunityGroups {
				&.profile .name-location span i {
					color: $color;
				}
				.share-list li.gr-plus a,
				.share-list li.bl-plus a {
					color: $color;
				}
			}
		// CommunityNewsDetail
			.CommunityNewsDetail {
				.row {
					&.u-page-block {
						border-top-color: $color;
					}
				}
			}

		// CommunityNewsEdit
			.CommunityNewsEdit {
				.row {
					.bPageBlock {
						border-top-color: $color;
					}
				}
			}
		// CommunityProfilePage
			.CommunityProfilePage {
				#settings {
					.sky-form {
						.toggle {
							i {
								&.green-btn { border-color: $color !important;}
								&.green-btn:before { background-color: $color; }
								&.green-btn:after { color: $color; }
							}
						}
					}
				}
				#digest {
					i.rounded-x.fa { background: $color; border-color: $color; }
				}
			}

		// CommunityRegTerms
			.CommunityRegTerms {
				.row .bPageBlock {
					border-top-color: $color;
				}
				.row.u-page-block {
					border-top-color: $color;
				}
				.menu-item-link a:hover {
					color: $color;
				}
				.list-group-item .plus {
					color: $color;
				}
			}

		// CommunityResourceDetail
			.CommunityResourceDetail {
				.sky-form {
					a {
						color: $color;
					}
				}
			}
	}
}

// Loop

@each $val in $themes {
	@include theme(nth($val, 1), nth($val,2),nth($val, 3))
}
