.CommunityRegTerms {
	.row .bPageBlock {
		border-top-color: $color;
	}
	.row.u-page-block {
		border-top-color: $color;
	}
	.menu-item-link a:hover {
		color: $color;
	}
	.list-group-item .plus {
		color: $color;
	}
}